

<div id="comparePlansContainer"
     ng-hide="containerHidden"
     class="centered-div"
     style="width: 750px; height: 700px;">



    <!-- !------------------! -->
    <!-- PLAN CARDS area -->
    <!-- !------------------! -->
    <div id="planCards"
         ng-hide="cardsHidden"
         style="position: absolute; width: 750px; height:500px; top: 100px">

        <div>
            <bgs-plan-card id="plan_card_0"
                       card-title="SEP IRA"
                       style="position: absolute; top: 150px; left: 10px;"></bgs-plan-card>

            <bgs-plan-card id="plan_card_1"
                       card-title="401(k)"
                       style="position: absolute; top: 150px; left: 260px;"></bgs-plan-card>

            <bgs-plan-card id="plan_card_2"
                       card-title="SIMPLE IRA"
                       style="position: absolute; top: 150px; right: 10px;"></bgs-plan-card>
        </div>
    </div>
</div>

