<div style="background-color: #000000;"
     class="div-centered_ab">

  <div class="app-sized-div">

    <h1>GOTCHA</h1>

    <!--<div id="backgrounds"-->
         <!--ng-controller="bgsBackgroundController as bkgrdCtrl"-->
         <!--ng-include="templateHTML"-->
         <!--class="app-sized-div zz-bottom" >-->
    <!--</div>-->

    <div bgs-background></div>

    <!--<div id="headerBar"-->
         <!--ng-controller="HeaderBarController"-->
         <!--ng-init="init()"-->
         <!--ng-include="templateHTML"-->
         <!--class="app-sized-div z-100"-->
         <!--style="height: 65px">-->
    <!--</div>-->

    <!--<div id="mythExplorer"-->
         <!--ng-controller="MythExplorerController"-->
         <!--ng-init="init()"-->
         <!--ng-include="templateHTML"-->
         <!--ng-hide="isHidden"-->
         <!--class="app-sized-div z-30" >-->
    <!--</div>-->

    <!--<div id="startpage"-->
         <!--ng-controller="StartPageController"-->
         <!--ng-init="init()"-->
         <!--ng-include="templateHTML"-->
         <!--ng-hide="isHidden"-->
         <!--class="app-sized-div z-20" >-->
    <!--</div>-->

    <!--<div id="comparePlansPage"-->
         <!--ng-controller="ComparePlansController"-->
         <!--ng-init="init()"-->
         <!--ng-include="templateHTML"-->
         <!--ng-hide="isHidden"-->
         <!--class="app-sized-div z-10" >-->
    <!--</div>-->

    <!--<div id="footerBarDiv"-->
         <!--ng-controller="FooterBarController"-->
         <!--ng-init="init()"-->
         <!--ng-include="templateHTML"-->
         <!--ng-hide="isHidden"-->
         <!--class="app-sized-div z-110"-->
         <!--style="top:570px; height: 65px">-->
    <!--</div>-->


  </div>
</div>