


<div id="startContainer"
     class="centered-div"
     style="width: 750px">

    <div id="introCardStart"
         class="centered-div"
         ng-hide="introCardStartHidden"
         style="position:absolute; width: 350px; height: 250px; top: 95px; left:200px;">

        <img ng-src="assets/images/MerrilSmallBusinessCard.png"
             style="width: 350px; height: 250px">

    </div>

    <div id="introCard"
         class="centered-div"
         ng-hide="introCardHidden"
         style="position:absolute; width: 350px; height: 250px; top: 95px; left:200px;">

        <img ng-src="assets/images/MerrilSmallBusinessCardBack.png"
             style="width: 350px; height: 250px">

        <div class="centered-div"
             style="width: 205px; top: -85px">
            <button class="button-start"
                    ng-click="onStartButtonClick()"></button>
        </div>

    </div>

    <div id="introCardReflection"
         class="centered-div"
         ng-hide="introCardHidden"
         style="position:absolute; width: 350px; height: 250px; top: 345px; left:200px;">

        <img ng-src="assets/images/merillCardReflection.png"
             style="width: 350px; height: 250px">

    </div>

    <div id="introCardStartReflection"
         class="centered-div"
         ng-hide="introCardStartHidden"
         style="position:absolute; width: 350px; height: 250px; top: 345px; left:200px;">

        <img ng-src="assets/images/merillStartCardReflection.png"
             style="width: 350px; height: 250px">

    </div>

    <div id="subText"
         class="centered-div"
         style="position: absolute; width: 750px; top:325px">
        <h5 style="text-align: center; color: #a2daf4; font: 16px Arial, sans-serif">Or you can view the myths by category</h5>
    </div>


    <div id="set1"
         ng-mouseout="onMouseOverSet( 'set1' )"
         ng-mouseleave="onMouseLeaveSet( 'set1' )"
         ng-click="onClickSet( 'set1' )">

        <div myth-card
             id="time1"
             card-id="time1"
             card-pid="{{set1Cards['myth_card_0'].pid}}"
             card-color="{{set1Cards['myth_card_0'].color}}"
             card-text="{{set1Cards['myth_card_0'].text}}"
             card-size="small"
             style="position: absolute; top:375px; left: 150px;"></div>

        <div myth-card
             id="time2"
             card-id="time2"
             card-pid="{{set1Cards['myth_card_1'].pid}}"
             card-color="{{set1Cards['myth_card_1'].color}}"
             card-text="{{set1Cards['myth_card_1'].text}}"
             card-size="small"
             style="position: absolute; top:375px; left: 150px;"></div>

        <div myth-card
             id="time3"
             card-id="time3"
             card-pid="{{set1Cards['myth_card_2'].pid}}"
             card-color="{{set1Cards['myth_card_2'].color}}"
             card-text="{{set1Cards['myth_card_2'].text}}"
             card-size="small"
             style="position: absolute; top:375px; left: 150px;"></div>
    </div>

    <div id="set2"
         ng-mouseout="onMouseOverSet( 'set2' )"
         ng-mouseleave="onMouseLeaveSet( 'set2' )"
         ng-click="onClickSet( 'set2' )">

        <div myth-card
             id="money1"
             card-id="money1"
             card-pid="{{set2Cards['myth_card_0'].pid}}"
             card-color="{{set2Cards['myth_card_0'].color}}"
             card-text="{{set2Cards['myth_card_0'].text}}"
             card-size="small"
             style="position: absolute; top:375px; left: 320px;"></div>

        <div myth-card
             id="money2"
             card-id="money2"
             card-pid="{{set2Cards['myth_card_1'].pid}}"
             card-color="{{set2Cards['myth_card_1'].color}}"
             card-text="{{set2Cards['myth_card_1'].text}}"
             card-size="small"
             style="position: absolute; top:375px; left: 320px;"></div>

        <div myth-card
             id="money3"
             card-id="money3"
             card-pid="{{set2Cards['myth_card_2'].pid}}"
             card-color="{{set2Cards['myth_card_2'].color}}"
             card-text="{{set2Cards['myth_card_2'].text}}"
             card-size="small"
             style="position: absolute; top:375px; left: 320px;"></div>

    </div>

    <div id="set3"
         ng-mouseout="onMouseOverSet( 'set3' )"
         ng-mouseleave="onMouseLeaveSet( 'set3' )"
         ng-click="onClickSet( 'set3' )">

        <div myth-card
             id="employee1"
             card-id="employee1"
             card-pid="{{set3Cards['myth_card_0'].pid}}"
             card-color="{{set3Cards['myth_card_0'].color}}"
             card-text="{{set3Cards['myth_card_0'].text}}"
             card-size="small"
             style="position: absolute; top:375px; right: 150px;"></div>

        <div myth-card
             id="employee2"
             card-id="employee2"
             card-pid="{{set3Cards['myth_card_1'].pid}}"
             card-color="{{set3Cards['myth_card_1'].color}}"
             card-text="{{set3Cards['myth_card_1'].text}}"
             card-size="small"
             style="position: absolute; top:375px; right: 150px;"></div>

        <div myth-card
             id="employee3"
             card-id="employee3"
             card-pid="{{set3Cards['myth_card_2'].pid}}"
             card-color="{{set3Cards['myth_card_2'].color}}"
             card-text="{{set3Cards['myth_card_2'].text}}"
             card-size="small"
             style="position: absolute; top:375px; right: 150px;"></div>
    </div>
</div>
