/* -----------------------------
  backgrounds
/* ----------------------------- */

.myth-card-set{
  position: relative;

  height: 100%;
  width: 33%;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  //border: 2px solid blue;

}

.myth-card-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;

  //border: 3px solid green;

  .card{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 100%;
    width: 33%;

    //border: 2px solid pink;
  }

  &.blue{
    .card{
      @include img-bkgrnd-fill-to-scale( "../assets/images/card_blue.png" );
    }
  }

  &.green{
    .card {
      @include img-bkgrnd-fill-to-scale("../assets/images/card_green.png");
    }
  }

  &.orange{
    .card {
      @include img-bkgrnd-fill-to-scale("../assets/images/card_orange.png");
    }
  }
}

$blue-text: #3E98CC;
$green-text: #6DA044;
$orange-text: #E0472B;

.myth-card-text{
  position: absolute;
  font-family: Arial, sans;
  text-align: center;

  top: 35%;
  right: 15%;
  left: 15%;

  //border: 1px solid red;

  &.small{
    font-size: 9px;
    line-height: 12px;
  }

  &.medium{
    font-size: 11px;
    line-height: 16px;
  }

  &.blue{
    color: $blue-text;
  }

  &.green{
    color: $green-text;
  }

  &.orange{
    color: $orange-text;
  }
}

.get-the-facts{
  position:absolute;
  margin-right: auto;
  margin-left: 50%;
  cursor: hand;
  cursor: pointer;

  &.small{
    bottom: 15%;
    width: 50%;
    transform: translateX( -50% );
  }

  &.medium{
    top:0px;
    width: 76px;
    transform: translateX( -38px );
  }
}



